@import "tailwindcss";

:root {
	--background: #f3f0f0;
	--foreground: #2F2C28;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-lora: 'Lora', serif;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-lora);
}