@import "tailwindcss";

:root {
	--background: #080604;
}

@theme inline {
	--color-background: var(--background);
	--font-lora: 'Lora', serif;
}

body {
	background: var(--background);
	font-family: var(--font-lora);
}