@import "tailwindcss";

:root {
	--background: #f3f0f0;
	--foreground: #2F2C28;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-lora: 'Lora', serif;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-lora);
}

/* Styling for blog posts */
.prose a {
	@apply underline transition-all decoration-neutral-400 underline-offset-2 decoration-[0.1em];
}

.prose code {
	@apply bg-zinc-200 px-2 py-1 rounded-lg my-7;
}

.prose code span {
	@apply font-medium;
}

.prose p {
	@apply my-7 text-stone-900;
}

.prose h1 {
	@apply text-2xl font-medium my-7;
}

.prose h2 {
	@apply text-xl font-medium my-7;
}

.prose h3 {
	@apply text-lg font-medium my-7;
}

.prose strong {
	@apply font-semibold;
}

.prose ul {
	@apply list-disc pl-6 my-7;
}

.prose ol {
	@apply list-decimal pl-6 my-7;
}